<!DOCTYPE html>
<html>
    <head>
        <title>Melody Music</title>
        <meta charset="utf8">
    </head>
    <body>
        <button onclick="updateSource()">click</button>
        <audio id="myaudio" controls style="display: none">
            <source id="mp3Source" autoplay type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.on('news', function (data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
            });
        </script>
        <script>
            function updateSource() { 
                $("#mp3Source").attr('src', "/public/mp3/behind_girl.mp3");
                $("#myaudio")[0].load();
                $("#myaudio")[0].play();
            }
        </script>
    </body>
</html>
